html {
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(11,1,27,1) 100%);
}

.light_title {
  color: #42adf5;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  text-align: center;

}


.main {
  display: grid;
  width: 50%;
  justify-content: center;
  margin-left: 25%;
}

span {
  color: #10DD10;
}