<!DOCTYPE html>
<html>
<head>
	<title>Create new link</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'common.css' %}">
	<link rel="stylesheet" href="{% static 'create_form.css' %}">
</head>
<body>
	<h3 class="light_title"> New link </h3>
	<div id="main">
		<marquee> Stwórz nowy link </marquee>
		<form action="/api/new" method="POST">
			{% csrf_token %}
			<label>Url to shorten:</label>
			<input type="text" name="url"> 
			<label>Url ending:</label>
			<input type="text" name="token" maxlength="20">
			<p style="font-size:75%">(Max 20 chars)</p>

			<button type="submit"> Make link </button>
		</form>
	</div>
</body>
</html>